<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Paste the PersonalAccessToken inside the quotes next to 'value=' below -->
    <add key="PersonalAccessToken" value="" />
    <add key="Account" value="https://account.visualstudio.com/"/>
    <add key="BuildOrContainerId" value="" />
    <add key="DropFilePath" value="?itemPath=drop%2FApp.UWP_1.0.3.0_Test&amp;$format=zip" />

    <add key="InstallScriptPath" value="drop/App.UWP_1.0.3.0_Test/Add-AppDevPackage.ps1" />
    <add key="InstallScriptArguments" value="-ExecutionPolicy ByPass -File &quot;{0}&quot;" />
    <add key="RedirectScriptOutputToConsole" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>